<div class="ui bottom attached inverted blue menu">
  <div class="right menu">
    <a class="ui item" style="opacity: .75;">
      v<%= sails.config.globals.version %>
    </a>
    <a class="icon item" href="https://github.com/TheConnMan/my-public-apology/issues" target="_blank" title="Open an Issue">
      <i class="large github icon"></i>
    </a>
  </div>
</div>
