<div class="ui top attached menu" style="margin-bottom: 1em;">
  <div class="left menu">
    <a class="item" ng-click="landingPage()">
      <i class="big comments outline icon"></i>
    </a>
    <a class="item" href="<%= user ? '/auth/logout' : '/auth/google' %>">
      <% if (user) { %>
        <i class="sign out icon"></i>
        <%= user.name %>
      <% } else { %>
        <i class="google icon"></i>
        Login
      <% } %>
    </a>
    <a class="item" ng-click="landingPage()">
      <i class="home icon"></i> Home
    </a>
    <% if (user) { %>
      <a class="item" ng-click="myApologies()">
        <i class="user icon"></i>
        My Apologies
      </a>
    <% } %>
  </div>
  <div class="right menu">
    <a class="item" ng-click="createApology()">
      <i class="write icon"></i> Create
    </a>
    <a class="ui item" style="opacity: .75;">
      My Public Apology v<%= sails.config.globals.version %>
    </a>
    <a class="icon item" href="https://github.com/TheConnMan/my-public-apology/issues" target="_blank" title="Open an Issue">
      <i class="large github icon"></i>
    </a>
  </div>
</div>
