<div class="ui top attached inverted blue menu" style="margin-bottom: 1em;">
  <div class="left menu">
    <a class="item" ng-click="landingPage()">
      <i class="big comments outline icon"></i>
    </a>
    <a class="item" href="https://twitter.com/mypublicapology" target="_blank">
      <i class="large twitter icon" style="margin-right: 0;"></i>
    </a>
    <% if (user) { %>
      <a class="item" ng-click="myApologies()">
        <i class="user icon"></i>
        <%= user.name %>
      </a>
    <% } else { %>
      <a class="item" href="/auth/google">
        <i class="google icon"></i>
        Login
      </a>
    <% } %>
  </div>
  <div class="right menu">
    <a class="item" <%= user ? 'ng-click=createApology()' : 'href=/auth/google' %> >
      <i class="write icon"></i> Create
    </a>
    <% if (user) { %>
      <a class="item" href="/auth/logout">
        <i class="sign out icon"></i>
      </a>
    <% } %>
  </div>
</div>
