<%- partial('./partials/header.ejs') %>

<div id="main-content">
  <div class="ui segment">
    <h1 class="ui header">
      <i class="comments outline icon"></i>
      <div class="content">
        My Public Apology
        <div class="sub header">Publicly apologize so others know you really mean it - A forum to submit and read public apologies</div>
      </div>
    </h1>
  </div>
  <div ng-view></div>
  <%- partial('./partials/footer.ejs') %>
</div>
