<%- partial('./partials/header.ejs') %>

<div id="main-content" class="ui segment">
  <h1 class="ui dividing header">
    <i class="comments outline icon"></i>
    <div class="content">
      My Public Apology
      <div class="sub header">Publically apologies so others know you really mean it - A forum to submit and read public apologies</div>
    </div>
  </h1>
</div>
