<div class="ui piled segment">
  <a class="ui yellow right corner label" ng-if="myApology(apology)" ng-click="editApology(apology)">
    <i class="write icon" style="cursor: pointer;"></i>
  </a>
  <h1 class="ui icon header" style="margin: 0 auto; display: block;">
    <img class="ui small circular image" ng-src="{{apology.user.photoUrl}}">
    <div class="content">
      {{apology.title}}
      <div class="sub header">
        <a ng-click="showUser(apology.user)" style="cursor: pointer;">{{apology.user.name}}</a>
        <span class="date" am-time-ago="apology.createdAt"></span>
      </div>
    </div>
  </h1>
  <h2 class="ui header">I, {{apology.user.name}}, hereby publicly apologize,</h2>
  <p style="font-size: 1.25em; margin-top: 1em;">
    {{apology.note}}
  </p>
  <h3 class="ui right aligned header">- Sincerely, {{apology.user.name}}</h3>
</div>
