<div class="ui segment">
  <h2 class="ui dividing header">{{apologyId ? 'Edit' : 'Create'}} Apology</h2>
  <div class="ui negative message" ng-if="error">
    <i class="close icon"></i>
    <div class="header">Error</div>
    <p>{{error}}</p>
  </div>
  <form class="ui form">
    <div class="field">
      <input type="text" ng-model="apology.title" maxlength="60" placeholder="Apology title">
    </div>
    <div class="field">
      <h3 class="ui header">I, {{user}}, hereby publicly apologize,</h3>
      <textarea ng-model="apology.note" placeholder="Your most heartfelt apology. Really make it count." style="height: 20em;"></textarea>
      <h3 class="ui right aligned header">- Sincerely, {{user}}</h3>
    </div>
    <div class="field" style="text-align: center;">
      <button class="ui big primary button" ng-click="save()">{{apologyId ? 'Save' : 'Submit'}}</button>
    </div>
  </form>
</div>
