<div class="ui segment">
  <h2 class="ui dividing header">Recent Apologies{{ username ? ' - ' + username : ''}}</h2>
  <div class="ui divided items" infinite-scroll="nextPage()">
    <div class="item" ng-repeat="apology in apologies | orderBy:'+': apology.createdAt track by $index">
      <div class="ui tiny image">
        <img ng-src="{{apology.user.photoUrl}}">
      </div>
      <div class="content">
        <a class="header" ng-click="viewApology(apology)">{{apology.title}}</a>
        <div class="meta">
          <a class="ui" ng-click="showUser(apology.user)" style="cursor: pointer;">{{apology.user.name}}</a> apologized <span class="date" am-time-ago="apology.createdAt"></span>
        </div>
        <div class="description">
          <p>{{apology.note.length > 300 ? apology.note.substring(0, 299) + '...' : apology.note}}</p>
          <p><a ng-click="viewApology(apology)">Read More</a></p>
        </div>
        <div class="extra">
          {{apology.views || 0}} view{{apology.views === 1 ? '' : 's'}}
        </div>
      </div>
    </div>
  </div>
</div>
