<div class="ui segment">
  <h2 class="ui dividing header">Recent Apologies</h2>
  <div class="ui divided items" infinite-scroll="nextPage()">
    <div class="item" ng-repeat="apology in apologies | orderBy:'+': apology.createdAt track by $index">
      <div class="ui tiny image">
        <img ng-src="{{apology.user.photoUrl}}">
      </div>
      <div class="content">
        <a class="header" ng-click="viewApology(apology)">{{apology.title}}</a>
        <div class="meta">
          {{apology.user.name}}
        </div>
        <div class="description">
          <p>{{apology.note.length > 300 ? apology.note.substring(0, 299) + '...' : apology.note}}</p>
        </div>
        <div class="extra">
          <span class="date" am-time-ago="apology.createdAt"></span>
        </div>
      </div>
    </div>
  </div>
</div>
